@charset  "UTF-8"

html {
  font-size: 62.5%;
}

body {
  color: #333;
  background-color: #EDFFBE;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.header, .footer {
  margin: 10px 20px;
}

.header, .footer {
  height: 50px;
}

.main, .sidemenu {
  height: 100%;
}

.header {
  color: #32CD32;
  height: 60px;
  width: 100%;
}

.wrapper {
  width: 100%;
}

.main {
  display: block;
  float: right;
  width: 1000px;
  padding: 20px 10px 10px;
  margin: 0px 20px 10px 10px;
  background-color: #FFFFFF;
}

.sidemenu {
  float: left;
  width: 180px;
  padding: 10px 10px 10px 30px;
  margin: 0px 10px 10px 20px;
  color: #FFFFFF;
  background-color: #32CD32;
  font-size: 1rem;
}

.sidemenu .list {
  line-height: 1.5rem;
  list-style-type: disc;
}

.main-title {
  color: #32CD32;
  padding: 10px 20px;
  border: 1px solid #CC0000;
}

.contents {
  margin: 10px 0px;
  font-size: 1rem;
  line-height: 1.3rem;
}

.footer {
  width: 100%;
}

.global-nav {
  width: 100%;
  position: relative;
  background-color: #D3D3D3;
  text-align: center;
  z-index: 1000;
}

.global-nav .nav-item,
.global-nav .nav-menu
{
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0 10px;
}

.global-nav .nav-menu a {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 8px;
  color: #666;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: 0.15s;
}

.global-nav .nav-menu.active a,
.global-nav .nav-menu a:hover {
  background-color: #0000CD;
  color: #FFF;
}

.nav-item-text {
  position: absolute;
  z-index: 1;
  background-color: #FFFFFF;
  width: 100%;
  top: 30px;
  opacity: 1;
  transition: bottom 220ms ease-in-out;
  -webkit-transition: bottom 220ms ease-in-out;
}

.global-nav.active .nav-item-text {
  opacity: 0;
}

.nav-menu-text {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: top 220ms ease-in-out;
  -webkit-transition: top 220ms ease-in-out;
}

.global-nav.active .nav-menu-text {
  top: 30px;
  opacity: 1;
}

.fixed-box {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 150px;
  height: 100px;
  top:100px;
  left:1000px;
  background-color: #00FFFF;
}

.fixed-box .inner {
  text-align: center;
  height: 50%;
}
